[submodule "iot-server"]
	path = iot-server
	url = https://github.com/tuya/iot-server
[submodule "iot-portal"]
	path = iot-portal
	url = https://github.com/tuya/iot-portal
[submodule "tuya-connector"]
	path = tuya-connector
	url = https://github.com/tuya/tuya-connector

